{#
DeckOfCards v1.5.3
http://development.sjmcdougall.com/pico-themes/DeckOfCards
http://github.com/smcdougall/DeckOfCards
#}
<!DOCTYPE html>
<html lang="en">
<head>

	{# Metadata #}
	<meta charset="utf-8">
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
	{% if meta.description %}<meta name="description" content="{{ meta.description }}">{% endif %}
	{% if meta.robots %}<meta name="robots" content="{{ meta.robots }}">{% endif %}

	{# Styles #}

	{# Google Fonts #}
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro%7CForum%7CKalam:400,700' rel='stylesheet' type='text/css'>

	{# Custom Fonts #}
	{% if config.DeckOfCards.css.fonts %}
		{% for url in config.DeckOfCards.css.fonts %}
			<link href='{{ url }}' rel='stylesheet' type='text/css'>
		{% endfor %}
	{% endif %}

	{# Main Stylesheet #}
	<link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css">
	{% if config.DeckOfCards.css.animations %}<link rel="stylesheet" href="{{ theme_url }}/animations.css" type="text/css">{% endif %}

	{# Custom DeckOfCards Themes #}
	{% if config.DeckOfCards.css.theme and not meta.theme %}
		<link rel="stylesheet" href="{{ base_url }}/assets/DeckOfCards_Themes/{{ config.DeckOfCards.css.theme }}/theme.css" type="text/css">
		{% if config.DeckOfCards.css.animations %}<link rel="stylesheet" href="{{ base_url }}/assets/DeckOfCards_Themes/{{ config.DeckOfCards.css.theme }}/animations.css" type="text/css">{% endif %}
	{% elseif meta.theme and meta.theme != "Default" %}
		<link rel="stylesheet" href="{{ base_url }}/assets/DeckOfCards_Themes/{{ meta.theme }}/theme.css" type="text/css">
		{% if config.DeckOfCards.css.animations %}<link rel="stylesheet" href="{{ base_url }}/assets/DeckOfCards_Themes/{{ meta.theme }}/animations.css" type="text/css">{% endif %}
	{% endif %}

	{# User Style Overrides #}
	{% if config.DeckOfCards.css.override %}
		<link rel="stylesheet" href="{{ base_url }}/{{ config.DeckOfCards.css.override }}" type="text/css">
	{% endif %}
	{% if meta.css_override %}
		<link rel="stylesheet" href="{{ base_url }}/{{ meta.css_override }}" type="text/css">
	{% endif %}

	{# Modernizr #}
	<script src="{{ theme_url }}/scripts/modernizr.js"></script>

	{# Description Length #}
	{% if config.DeckOfCards.description_length %}
		{% set description_length = config.DeckOfCards.description_length %}
	{% else %}
		{% set description_length = 255 %}
	{% endif %}

	{# Open Graph #}
	<meta property="og:url" content="{{ current_page.url }}">
	<meta property="og:site_name" content="{{ site_title }}">
	<meta property="og:type" content="website">
	{% if meta.title %}<meta property="og:title" content="{{ meta.title }}">{% endif %}
	{% if meta.description %}
		<meta property="og:description" content="{{ meta.description }}">
	{% else %}
		{% if content|striptags|length > description_length %}
			<meta property="og:description" content="{{ content|striptags|slice(0,description_length)|split(' ',-1)|join(' ') ~ "..." }}">
		{% else %}
			<meta property="og:description" content="{{ content|striptags }}">
		{% endif %}
	{% endif %}
	{% if config.DeckOfCards.og_image %}<meta property="og:image" content="{{ base_url }}/{{ config.DeckOfCards.og_image }}">{% endif %}

	{# Facebook Coments Administration #}
	{% if config.DeckOfCards.comments.type == "facebook" %}
		{% if config.DeckOfCards.comments.admin_type == "user" %}
			{% for users in config.DeckOfCards.comments.admin_id %}
				<meta property="fb:admins" content="{{ users }}">
			{% endfor %}
		{% elseif config.DeckOfCards.comments.admin_type == "app" %}
			<meta property="fb:app_id" content="{{ config.DeckOfCards.comments.admin_id }}">
		{% endif %}
		<noscript><style>.fb-comments:before {content: 'Please enable JavaScript to view the Facebook Comments.';} .fb-comments {text-align: center;}</style></noscript>
	{% endif %}

</head>
<body>

	{# Show YAML Errors #}
	{% for page in pages if page.meta.YAML_ParseError %}
		<p class="yaml_error">Header Error in <a href="{{ page.url }}">{{ page.id }}</a>, {{ page.meta.YAML_ParseError }}</p>
	{% endfor %}

	{# Header #}
	<header class="site_title">
		<h1>
			<a href="{{ base_url }}">
				{% if config.DeckOfCards.site_logo %}
					<img src="{{ base_url }}/{{ config.DeckOfCards.site_logo }}" alt="{{ site_title }}">
				{% else %}
					{{ site_title }}
				{% endif %}
			</a>
		</h1>

		{# Navigation #}
		<nav>
			{% if not config.DeckOfCards.disable.toc %}
					<ul>
						{% for page in pages if page.page %}
							<li>
								<a {% if page.id == current_page.id %}class="current_page"{% endif %} href="{{ page.url }}">{{ page.title }}</a>
							</li>
						{% endfor %}
					</ul>
			{% endif %}
		</nav>
	</header>
	<main>

		{# Content Rendering #}
		{% for page in pages if not page.page %}
			<article class="card">
					{% if page.title %} <h2 class="title"><a href="{{ page.itemURL }}">{{ page.title }}</a></h2>{% endif %}
					{{ page.id | content }}
			</article>
		{% endfor %}

				{# Page }
				<article>
					{% if not config.DeckOfCards.disable.header and ((meta.date and not config.DeckOfCards.disable.date) or (meta.title))%}
						<header>
							{% if meta.title %}
								<h2 class="title"><a href="{{ meta.url }}">{{ meta.title }}</a></h2>
								{% if meta.author %}<h3 class="author"> by: {{ meta.author }}</h3>{% endif %}
							{% endif %}
						</header>
						{% if meta.title %}<hr>{% endif %}
					{% endif %}
						{{ content }} #}
				</article>
	</main>

	{# Disqus Comments #}
	{% if config.DeckOfCards.comments.type == "disqus" and (not is_front_page or config.DeckOfCards.comments.front) %}
		<section id="disqus_thread" class="comments">
			<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
				var disqus_shortname = '{{ config.DeckOfCards.comments.shortname }}';
			/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</section>

	{# Facebook Comments #}
	{% elseif config.DeckOfCards.comments.type == "facebook" and (not is_front_page or config.DeckOfCards.comments.front) %}
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<section class="fb-comments comments" data-colorscheme="{% if config.DeckOfCards.comments.dark %}dark{% endif %}" data-href="{{ current_page.url }}" data-width="100%" data-numposts="{{ config.DeckOfCards.comments.limit }}" data-order-by="{{ config.DeckOfCards.comments.order }}"></section>
	{% endif %}

	{# Footer #}
	<footer>
		{% if config.DeckOfCards.copyright %}<h2 class="copyright">{{ config.DeckOfCards.copyright }}</h2>{% endif %}
		{# Feel free to comment out this line #}<h3 class="credit"><a href="http://development.sjmcdougall.com/pico-themes/DeckOfCards/">DeckOfCards Theme</a> by <a href="malto:simon@sjmcdougall.com">Simon McDougall</a>.<br><a href="http://github.com/smcdougall/DeckOfCards">Contribute on GitHub</a>.</h3>
	</footer>

</body>
</html>
